.app-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url('https://assets.ccbp.in/frontend/react-js/planets-app/planets-bg-img.png');
  min-height: 100vh;
  padding: 80px;
}

.planet-heading {
  color: #05acff;
  font-family: 'Roboto';
  font-size: 28px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .planet-heading {
    font-size: 45px;
  }
}
